.classify {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .classify .classifyWrapper {
    height: 48px;
    overflow: hidden; }
    .classify .classifyWrapper .classify-ul {
      line-height: 48px;
      height: 48px;
      width: 500px; }
      .classify .classifyWrapper .classify-ul li {
        float: left;
        width: 104px;
        height: 100%;
        text-align: center; }
  .classify .container {
    flex: 1;
    overflow: hidden;
    overflow-y: auto; }
    .classify .container .detail_car {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      left: 30px;
      bottom: 85px;
      width: 62px;
      height: 62px;
      border-radius: 31px;
      background: rgba(0, 0, 0, 0.4); }
      .classify .container .detail_car .iconfont {
        font-size: 26px;
        color: #fff; }
    .classify .container ul {
      margin-top: 10px; }
      .classify .container ul li {
        width: 42%;
        height: 232px;
        float: left;
        margin-left: 10px; }
        .classify .container ul li img {
          width: 100%;
          height: 149px; }
        .classify .container ul li div {
          width: 100%;
          height: 75px; }
          .classify .container ul li div h2:first-child {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 600;
            font-size: 15px;
            margin-bottom: 3px; }
          .classify .container ul li div p {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-top: 3px;
            color: #ccc;
            font-size: 12px; }
          .classify .container ul li div .bottom {
            width: 100%;
            height: 31px; }
            .classify .container ul li div .bottom .price {
              float: left;
              width: 50%;
              height: 100%;
              line-height: 31px;
              font-size: 15px;
              color: #ccc; }
            .classify .container ul li div .bottom .shoppingCart {
              float: right;
              width: 30%;
              height: 100%; }
              .classify .container ul li div .bottom .shoppingCart .iconfont {
                display: block;
                width: 100%;
                height: 100%;
                line-height: 31px;
                font-size: 19px;
                color: #ccc; }
      .classify .container ul li:nth-child(even) {
        margin-left: 30px; }
