.classify {
    display: flex;
    flex-direction: column;
    height: 100%;
    .classifyWrapper {
        height: 48px;
        overflow: hidden;
        .classify-ul {
            line-height: 48px;
            height: 48px;
            width: 500px;
            li {
                float: left;
                width: 100px;
                height: 100%;
                text-align: center;
            }
        }
    }
    .container {
        flex: 1;
        background: #7E8C8D;
    }
}
