.classify {
    display: flex;
    flex-direction: column;
    height: 100%;
    .classifyWrapper {
        height: 0.48rem;
        overflow: hidden;
        .classify-ul {
            line-height: 0.48rem;
            height: 0.48rem;
            width: 5rem;
            li {
                float: left;
                width: 1.04rem;
                height: 100%;
                text-align: center;
                font-size: .16rem;
            }
        }
    }
    .container {
        flex: 1;
        overflow: hidden;
        overflow-y: auto;
        .loading{
            width: 20%;
            height : .3rem;
            margin: 0 auto;
            text-align: center;
        }
        .detail_car{
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            left: .3rem;
            bottom: .85rem;
            width: .62rem;
            height: .62rem;
            border-radius: .31rem;
            background: rgba(0,0,0,0.4);
            .iconfont{
                font-size: .26rem;
                color: #fff;
            }
        }
        .headerWorld_cake{
            height : .4rem;
            width: 100%;
            background: #fbf9f6;
            display: none;
            p:first-child{
                height : .24rem;
                text-align: center;
                line-height: .24rem;
                font-weight: 600;
                color: #442818;
                font-size: .14rem;
            }
            p:nth-child(2){
                height : .16rem;
                text-align: center;
                line-height: .13rem;
                font-size: .12rem;
                color: #e6d9ca;
            }
        }
        ul{
            li{
                width: 42%;
                height : 2.4rem;
                float : left;
                margin-left: .1rem;
                img{
                    width: 100%;
                    height : 1.47rem;
                }
                a{
                    .intr{
                        width: 100%;
                        height : .5rem;
                        h2:first-child{
                            width: 100%;
                            overflow: hidden;
                            text-overflow:ellipsis;
                            white-space: nowrap;
                            font-weight: 600;
                            font-size: .14rem;
                            margin-bottom: .03rem;
                        }
                        h2:nth-child(2){
                            width: 100%;
                            overflow: hidden;
                            text-overflow:ellipsis;
                            white-space: nowrap;
                            font-weight: 600;
                            font-size: .14rem;
                            margin-bottom: .03rem;
                        }
                        p{
                            width: 100%;
                            overflow: hidden;
                            text-overflow:ellipsis;
                            white-space: nowrap;
                            margin-top: .03rem;
                            color : #ccc;
                            font-size: .11rem;
                        }
                    }
                }
                .bottom{
                    width: 100%;
                    height : .4rem;
                    .price{
                        float : left;
                        width: 70%;
                        height : 100%;
                        line-height: .39rem;
                        font-size: .13rem;
                        color: #ccc;
                        overflow: hidden;
                        text-overflow:ellipsis;
                        white-space: nowrap;
                    }
                    .shoppingCart{
                        float: right;
                        z-index: 2;
                        width: 30%;
                        height : 100%;
                        .iconfont{
                            display: block;
                            width: 100%;
                            height : 100%;
                            line-height: .4rem;
                            font-size: .15rem;
                            color: #ccc;
                        }
                        
                    }
                }
            }
            li:nth-child(even){
                margin-left: .3rem;
            }
        }
    }
}
