.classify {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .classify .classifyWrapper {
    height: 48px;
    overflow: hidden; }
    .classify .classifyWrapper .classify-ul {
      line-height: 48px;
      height: 48px;
      width: 500px; }
      .classify .classifyWrapper .classify-ul li {
        float: left;
        width: 104px;
        height: 100%;
        text-align: center; }
  .classify .container {
    flex: 1;
    background: #7E8C8D; }
