.my {
  display: flex;
  flex-direction: column; }
  .my .container {
    flex: 1;
    width: 100%;
    font-size: .12rem;
    display: flex;
    justify-content: center; }
    .my .container .content {
      width: 74%; }
      .my .container .content .headerLogin {
        width: 100%;
        height: .43rem;
        display: flex; }
        .my .container .content .headerLogin span {
          display: block;
          width: 50%;
          height: 100%;
          text-align: center;
          line-height: .43rem; }
      .my .container .content .numberLogin {
        width: 100%;
        margin-top: .2rem;
        height: 1rem;
        display: none; }
        .my .container .content .numberLogin input {
          color: #442818;
          width: 100%;
          border: none;
          border-bottom: 1px solid #D5D5D5;
          height: .4rem;
          padding: .1rem 0;
          line-height: .4rem;
          outline: none;
          font-size: .12rem; }
      .my .container .content .phoneLogin {
        width: 100%;
        margin-top: .2rem;
        height: 1.7rem;
        display: none; }
        .my .container .content .phoneLogin input {
          width: 100%;
          border: none;
          border-bottom: 1px solid #D5D5D5;
          height: .4rem;
          padding: .1rem 0;
          line-height: .4rem;
          outline: none;
          font-size: .12rem; }
        .my .container .content .phoneLogin .SecurityCode {
          height: .4rem;
          width: 100%; }
          .my .container .content .phoneLogin .SecurityCode input {
            width: 50%;
            height: 100%; }
          .my .container .content .phoneLogin .SecurityCode #container {
            width: 50%;
            float: right; }
            .my .container .content .phoneLogin .SecurityCode #container #verifyCanvas {
              width: 100%;
              height: 100%; }
        .my .container .content .phoneLogin .getCode {
          width: 100%;
          height: .4rem;
          position: relative; }
          .my .container .content .phoneLogin .getCode .getCodeBtn {
            width: 50%;
            height: .38rem;
            position: absolute;
            right: 0;
            top: 0;
            text-align: center;
            line-height: .38rem;
            font-size: .14rem;
            color: #fff; }
            .my .container .content .phoneLogin .getCode .getCodeBtn .yanCode {
              background: #442818;
              width: 100%;
              height: 100%;
              color: #fff; }
      .my .container .content .login {
        width: 100%;
        height: .35rem;
        line-height: .35rem;
        text-align: center;
        background: #442818;
        color: #fff;
        border: 1px solid #79655a; }
      .my .container .content .footLogin {
        width: 100%;
        height: 0.4rem;
        display: flex;
        justify-content: space-between;
        color: #442818; }
        .my .container .content .footLogin .checkbox {
          width: 27%;
          height: 100%;
          line-height: .4rem; }
        .my .container .content .footLogin .toRegister {
          width: 46%;
          height: 100%;
          line-height: .4rem; }

.ant-message-notice-content {
  width: 100%;
  height: 0.5rem;
  margin: 0 auto;
  font-size: .2rem; }
