.community {
    display: flex;
    flex-direction: column;
    .community-header {
        width: 100%;
        height: .46rem;
        line-height: .46rem;
        text-align: center;
        h5{
            font-size: .20rem;
        }
    }
    .community-container {
        flex: 1;
        .community-title {
            width: 100%;
            height: .46rem;
            .title-item {
                width: 50%;
                float: left;
                font-size: .16rem;
                text-align: center;
                line-height: .46rem;
            }
        }
    }
}
