.Details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  .Details .headerList {
    width: 100%;
    height: 0.43rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .Details .headerList .header_btn {
      position: absolute;
      left: 0.2rem;
      top: -0.6rem; }
      .Details .headerList .header_btn span {
        font-size: 0.18rem; }
    .Details .headerList p {
      font-size: 0.18rem; }
  .Details .detail_box {
    flex: 1;
    overflow-y: auto;
    background: #fff; }
    .Details .detail_box .detail_car {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      left: .3rem;
      bottom: .68rem;
      width: .56rem;
      height: .56rem;
      border-radius: .28rem;
      background: rgba(0, 0, 0, 0.4); }
      .Details .detail_box .detail_car .iconfont {
        font-size: 0.26rem;
        color: #fff; }
    .Details .detail_box .detail_src {
      width: 100%;
      height: 2.75rem;
      border: 1px solid #eee; }
      .Details .detail_box .detail_src .detail_src2 {
        width: 100%;
        height: 100%; }
    .Details .detail_box .detail_int {
      width: 90%;
      height: 2rem;
      margin: 0.1rem 0 0 8%;
      border-bottom: 1px solid #ccc; }
      .Details .detail_box .detail_int h4 {
        font-size: 0.2rem;
        line-height: 0.36rem; }
      .Details .detail_box .detail_int p {
        font-size: 0.16rem;
        line-height: 0.3rem; }
      .Details .detail_box .detail_int ul {
        width: 100%;
        height: 0.3rem;
        margin-top: 0.1rem; }
        .Details .detail_box .detail_int ul li {
          height: 0.26rem;
          padding: 0 0.08rem;
          float: left;
          font-size: 0.14rem;
          margin: 0 0.04rem;
          border-radius: 0.13rem;
          border: 1px solid #d1bda4;
          line-height: 0.24rem;
          text-align: center;
          color: #d1bda4; }
    .Details .detail_box .detail_num {
      width: 100%;
      height: 0.48rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.3rem 0 0.34rem; }
      .Details .detail_box .detail_num span {
        font-size: 0.18rem; }
    .Details .detail_box .detail_spec {
      width: 100%;
      height: 1.6rem;
      border-top: 20px solid #f6f6f6;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0.14rem 8%; }
      .Details .detail_box .detail_spec p {
        display: flex;
        font-size: 0.12rem; }
        .Details .detail_box .detail_spec p span:nth-of-type(1) {
          margin: 0.02rem 0.1rem 0 0.1rem; }
        .Details .detail_box .detail_spec p span:nth-of-type(2) {
          display: block;
          width: 66%;
          font-size: 0.13rem; }
      .Details .detail_box .detail_spec p i {
        font-size: 0.2rem; }
      .Details .detail_box .detail_spec p:nth-of-type(1) > i {
        color: #f1ad86; }
      .Details .detail_box .detail_spec p:nth-of-type(2) > i {
        color: #c89f67; }
      .Details .detail_box .detail_spec p:nth-of-type(3) > i {
        color: #b1e2f1; }
    .Details .detail_box .detail_ad {
      width: 100%;
      height: auto;
      border-top: 20px solid #f6f6f6;
      padding: 10px 5%; }
      .Details .detail_box .detail_ad p {
        line-height: 0.22rem;
        font-size: 0.12rem; }
    .Details .detail_box .detail_adimg {
      width: 100%;
      height: auto;
      border-top: 20px solid #f6f6f6; }
      .Details .detail_box .detail_adimg div {
        width: 100%;
        height: 2.4rem;
        margin-bottom: 10px; }
        .Details .detail_box .detail_adimg div img {
          width: 100%;
          height: 2.4rem; }
