#homeMain {
  width: 100%; }
  #homeMain .detail_car {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: .3rem;
    bottom: .68rem;
    width: .56rem;
    height: .56rem;
    border-radius: .28rem;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99; }
    #homeMain .detail_car .iconfont {
      font-size: .26rem;
      color: #fff; }
  #homeMain .home {
    display: flex;
    flex-direction: column; }
    #homeMain .home .section {
      flex: 1;
      overflow-y: auto;
      position: relative; }
      #homeMain .home .section .homeWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto; }
        #homeMain .home .section .homeWrapper .ant-carousel {
          width: 100%;
          height: 1.73rem; }
          #homeMain .home .section .homeWrapper .ant-carousel .swiperImg {
            width: 100%;
            height: 100%; }
            #homeMain .home .section .homeWrapper .ant-carousel .swiperImg img {
              width: 100%;
              height: 100%; }
        #homeMain .home .section .homeWrapper .menu {
          width: 100%;
          border-bottom: .01rem solid #ccc; }
          #homeMain .home .section .homeWrapper .menu ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around; }
            #homeMain .home .section .homeWrapper .menu ul li {
              width: 23%;
              height: 100%; }
              #homeMain .home .section .homeWrapper .menu ul li div {
                width: 100%;
                height: .9rem;
                position: relative;
                text-align: center; }
                #homeMain .home .section .homeWrapper .menu ul li div img {
                  width: 100%;
                  display: block;
                  margin-top: .05rem;
                  height: .7rem; }
                #homeMain .home .section .homeWrapper .menu ul li div span {
                  width: 100%;
                  height: .25rem;
                  position: absolute;
                  top: .66rem;
                  left: 0;
                  text-align: center;
                  line-height: .25rem;
                  font-size: .12rem;
                  color: #000; }
        #homeMain .home .section .homeWrapper .fill {
          width: 100%;
          height: .2rem; }
        #homeMain .home .section .homeWrapper .title {
          text-align: center;
          line-height: .5rem;
          font-size: .15rem;
          color: #442818; }
        #homeMain .home .section .homeWrapper .title_billboard .titleImg img {
          width: 100%;
          height: 1.1rem; }
        #homeMain .home .section .homeWrapper .title_billboard .fill {
          width: 100%;
          height: .1rem;
          background-color: #fafafa; }
        #homeMain .home .section .homeWrapper .title_billboard .billboardWrapper {
          overflow: hidden;
          padding-bottom: .1rem;
          border-bottom: .01rem solid #ccc; }
          #homeMain .home .section .homeWrapper .title_billboard .billboardWrapper .home-ul {
            width: 8rem;
            height: 1rem; }
            #homeMain .home .section .homeWrapper .title_billboard .billboardWrapper .home-ul li {
              float: left;
              width: 1.28rem; }
              #homeMain .home .section .homeWrapper .title_billboard .billboardWrapper .home-ul li .goods-list {
                padding-top: .1rem;
                text-align: center; }
              #homeMain .home .section .homeWrapper .title_billboard .billboardWrapper .home-ul li img {
                width: .9rem;
                height: 1rem;
                min-height: .8rem;
                background: #eee; }
              #homeMain .home .section .homeWrapper .title_billboard .billboardWrapper .home-ul li h2 {
                width: 100%;
                height: .22rem;
                line-height: .22rem;
                font-size: .12rem;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: keep-all;
                text-align: center; }
              #homeMain .home .section .homeWrapper .title_billboard .billboardWrapper .home-ul li p {
                color: #A6A6A6;
                line-height: .18rem;
                margin-bottom: .03rem;
                font-size: .12rem;
                background: #fff;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: keep-all;
                text-align: center; }
        #homeMain .home .section .homeWrapper .title_billboard .icecreamWrapper {
          overflow: hidden;
          padding-bottom: .1rem;
          border-bottom: .01rem solid #ccc; }
          #homeMain .home .section .homeWrapper .title_billboard .icecreamWrapper .ice-ul {
            width: 4rem;
            height: 1rem; }
            #homeMain .home .section .homeWrapper .title_billboard .icecreamWrapper .ice-ul li {
              float: left;
              width: 1.28rem; }
              #homeMain .home .section .homeWrapper .title_billboard .icecreamWrapper .ice-ul li .goods-list {
                padding-top: .1rem;
                text-align: center; }
              #homeMain .home .section .homeWrapper .title_billboard .icecreamWrapper .ice-ul li img {
                width: .9rem;
                height: 1rem;
                min-height: .8rem;
                background: #eee; }
              #homeMain .home .section .homeWrapper .title_billboard .icecreamWrapper .ice-ul li h2 {
                width: 100%;
                height: .22rem;
                line-height: .22rem;
                font-size: .12rem;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: keep-all;
                text-align: center; }
              #homeMain .home .section .homeWrapper .title_billboard .icecreamWrapper .ice-ul li p {
                color: #A6A6A6;
                line-height: .18rem;
                margin-bottom: .03rem;
                font-size: .12rem;
                background: #fff;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: keep-all;
                text-align: center; }
        #homeMain .home .section .homeWrapper .activities {
          width: 3rem;
          height: 1.85rem;
          margin: 0 auto;
          overflow: hidden; }
          #homeMain .home .section .homeWrapper .activities .activity-card {
            height: 1.36rem; }
            #homeMain .home .section .homeWrapper .activities .activity-card .custom-card {
              width: 40%;
              float: left;
              text-align: left;
              position: relative; }
              #homeMain .home .section .homeWrapper .activities .activity-card .custom-card h2 {
                height: .22rem;
                line-height: .2rem;
                margin-top: .06rem;
                padding: 0 .1rem;
                font-size: .15rem;
                color: #442818;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; }
              #homeMain .home .section .homeWrapper .activities .activity-card .custom-card p {
                font-size: .10rem;
                color: #999;
                margin-top: .03rem;
                padding: 0 .1rem;
                line-height: .18rem; }
              #homeMain .home .section .homeWrapper .activities .activity-card .custom-card span {
                position: absolute;
                bottom: .1rem;
                left: .1rem;
                color: #c2a185;
                font-size: .12rem; }
            #homeMain .home .section .homeWrapper .activities .activity-card .custom-image {
              width: 60%;
              float: left; }
              #homeMain .home .section .homeWrapper .activities .activity-card .custom-image img {
                width: 100%;
                height: 100%; }
        #homeMain .home .section .homeWrapper .articles {
          width: 100%;
          overflow: hidden;
          padding-top: .05rem; }
          #homeMain .home .section .homeWrapper .articles .articles-ul {
            width: 8rem; }
            #homeMain .home .section .homeWrapper .articles .articles-ul li {
              width: 2.52rem;
              float: left; }
              #homeMain .home .section .homeWrapper .articles .articles-ul li .article-card {
                width: 100%;
                margin: 0 .05rem;
                padding: .05rem; }
                #homeMain .home .section .homeWrapper .articles .articles-ul li .article-card .custom-image {
                  height: 1.2rem; }
                  #homeMain .home .section .homeWrapper .articles .articles-ul li .article-card .custom-image img {
                    width: 100%;
                    height: 100%; }
                #homeMain .home .section .homeWrapper .articles .articles-ul li .article-card .custom-card h6 {
                  margin-top: .13rem;
                  padding: 0 .1rem;
                  font-size: .14rem;
                  color: #383838; }
                #homeMain .home .section .homeWrapper .articles .articles-ul li .article-card .custom-card p {
                  height: .12rem;
                  padding: 0 .1rem; }
        #homeMain .home .section .homeWrapper .lostbottom {
          background: #fff; }
          #homeMain .home .section .homeWrapper .lostbottom div {
            height: .72rem;
            line-height: .72rem;
            padding-top: .25rem;
            margin: 0 .2rem;
            padding-right: .4rem;
            background: url("/themes/wap/img/list-empty.png") no-repeat right center;
            background-size: .34rem .38rem;
            text-align: right;
            color: #d5d5d5;
            font-size: .14rem; }
