#homeMain {
  width: 100%; }
  #homeMain .home {
    display: flex;
    flex-direction: column; }
    #homeMain .home .section {
      flex: 1;
      overflow-y: auto;
      position: relative; }
      #homeMain .home .section .homeWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto; }
        #homeMain .home .section .homeWrapper .ant-carousel {
          width: 100%;
          height: 173px; }
          #homeMain .home .section .homeWrapper .ant-carousel .swiperImg {
            width: 100%;
            height: 100%; }
            #homeMain .home .section .homeWrapper .ant-carousel .swiperImg img {
              width: 100%;
              height: 100%; }
        #homeMain .home .section .homeWrapper .menu {
          width: 100%;
          height: 85px;
          border-bottom: 1px solid #666; }
          #homeMain .home .section .homeWrapper .menu ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around; }
            #homeMain .home .section .homeWrapper .menu ul li {
              width: 23%;
              height: 100%;
              display: flex;
              flex-direction: column; }
              #homeMain .home .section .homeWrapper .menu ul li div {
                height: 60px;
                width: 100%;
                text-align: center;
                line-height: 65px;
                background: #ccc; }
                #homeMain .home .section .homeWrapper .menu ul li div img {
                  width: 100%;
                  height: 100%; }
              #homeMain .home .section .homeWrapper .menu ul li span {
                width: 100%;
                height: 25px;
                text-align: center;
                line-height: 25px; }
        #homeMain .home .section .homeWrapper .home-ul li {
          height: 100px; }
          #homeMain .home .section .homeWrapper .home-ul li img {
            width: 100px;
            height: 100px; }
