.headerList {
  width: 100%;
  height: 0.43rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .headerList .header_btn {
    position: absolute;
    left: 0.2rem;
    top: -0.6rem; }
    .headerList .header_btn span {
      font-size: 0.18rem; }
  .headerList p {
    font-size: 0.18rem; }
