.headerList{
    width: 100%;
    height: 0.43rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .header_btn{
        position: absolute;
        left: 0.2rem;
        top: -0.6rem;
        span{
            font-size: 0.18rem;
        }
    }
    p{
        font-size: 0.18rem;
    }
}
